# DEPRECATED: This sample environment file has been replaced by the one in
# environments/base.yaml and the other sample environments in that directory.
# This file should not be used for new OVB deployments.

parameters:
  bmc_flavor: bmc
  bmc_image: CentOS-7-x86_64-GenericCloud
  baremetal_flavor: baremetal
  baremetal_image: ipxe-boot
  key_name: default
  private_net: private
  bmc_prefix: bmc
  baremetal_prefix: baremetal
  node_count: 2
  public_net: public
  provision_net: provision
  # QuintupleO-specific params ignored by virtual-baremetal.yaml
  undercloud_name: undercloud
  undercloud_image: CentOS-7-x86_64-GenericCloud
  undercloud_flavor: m1.large
  external_net: external
  public_net_shared: false
  provision_net_shared: false

#parameter_defaults:
  # Set a default role for the nodes in this environment.  This parameter is
  # ignored by Heat, but used by build-nodes-json.
  #role: control

## Uncomment and customize the following to use an existing floating ip
#  undercloud_floating_ip_id: 'uuid of floating ip'
#  undercloud_floating_ip: 'address of floating ip'

#resource_registry:
## Uncomment the following to use an existing floating ip
#  OS::OVB::UndercloudFloating: templates/undercloud-floating-existing.yaml

## Uncomment the following to use no floating ip
#  OS::OVB::UndercloudFloating: templates/undercloud-floating-none.yaml

## Uncomment the following to create a private network
#  OS::OVB::PrivateNetwork: templates/private-net-create.yaml

## Uncomment to create all networks required for network-isolation.
## parameter_defaults should be used to override default parameter values
## in baremetal-networks-all.yaml
#  OS::OVB::BaremetalNetworks: templates/baremetal-networks-all.yaml
#  OS::OVB::BaremetalPorts: templates/baremetal-ports-all.yaml

## Uncomment to use the neutron port-security extension to allow DHCP from
## the undercloud to overcloud nodes.  There are *-port-security.yaml versions
## of all the standard port resource templates.  The examples below are to use
## port-security with a minimal deployment (i.e. no network isolation).
#  OS::OVB::BaremetalPorts: templates/baremetal-ports-default-port-security.yaml
#  OS::OVB::BMCPort: templates/bmc-port-port-security.yaml
#  OS::OVB::UndercloudPorts: templates/undercloud-ports-port-security.yaml

## Uncomment to deploy a quintupleo environment without an undercloud.
#  OS::OVB::UndercloudEnvironment: OS::Heat::None
