parameters:
  os_user: admin
  os_password: password
  os_tenant: admin
  os_auth_url: http://10.0.0.1:5000/v2.0
  bmc_flavor: bmc
  bmc_image: CentOS-7-x86_64-GenericCloud
  baremetal_flavor: baremetal
  baremetal_image: ipxe-boot
  key_name: default
  private_net: private
  bmc_prefix: bmc
  baremetal_prefix: baremetal
  node_count: 2
  public_net: public
  provision_net: provision
  # QuintupleO-specific params ignored by virtual-baremetal.yaml
  undercloud_name: undercloud
  undercloud_image: CentOS-7-x86_64-GenericCloud
  undercloud_flavor: m1.large
  external_net: external

#parameter_defaults:
## Uncomment and customize the following to use an existing floating ip
#  undercloud_floating_ip_id: 'uuid of floating ip'
#  undercloud_floating_ip: 'address of floating ip'

#resource_registry:
## Uncomment the following to use an existing floating ip
#  OS::OVB::UndercloudFloating: templates/undercloud-floating-existing.yaml

## Uncomment the following to use no floating ip
#  OS::OVB::UndercloudFloating: templates/undercloud-floating-none.yaml

## Uncomment the following to create a private network
#  OS::OVB::PrivateNetwork: templates/private-net-create.yaml

## Uncomment to create all networks required for network-isolation.
## parameter_defaults should be used to override default parameter values
## in baremetal-networks-all.yaml
#  OS::OVB::BaremetalNetworks: templates/baremetal-networks-all.yaml
#  OS::OVB::BaremetalPorts: templates/baremetal-ports-all.yaml

## Uncomment to deploy a quintupleo environment without an undercloud.
#  OS::OVB::UndercloudEnvironment: OS::Heat::None
