{
    "parameters":
    {
        "os_user": "admin",
        "os_password": "password",
        "os_tenant": "admin",
        "os_auth_url": "http://10.0.0.1:5000/v2.0",
        "bmc_flavor": "m1.small",
        "bmc_image": "centos7",
        "baremetal_flavor": "baremetal",
        "baremetal_image": "empty",
        "key_name": "bnemec",
        "private_net": "private",
        "provision_net": "provision",
        "bmc_prefix": "bmc",
        "baremetal_prefix": "baremetal",
        "node_count": "2"
    }
}
